@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root {
  --primary-color: #283c64;
  --secondary-color: #f4e525;
  --hover-color: #1b2d42;
  --lightgray-color: #f1f1f1;
  --mediumgray-color: #d1d1d1;
}

body {
  background: white;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}


/* RESET PASSWORD PAGE */

.hero-forgot {
    height: min-content;
  }
  
  /* This formats the title of the page: Register */
  .hero-forgot h1 {
    margin: 2em 0em 0.5em 0em;
    font-size: 3em;
    text-align: center;
    color: var(--primary-color);
    padding: 0.5em 1em;
  }
  
  .enter-credentials form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5em;
    padding: 1em;
    text-align: center;
    border-radius: 1em;
    justify-content: center;
    
    grid-column: 1/5;
    
  }
  
  /* Creates another grid inside of the "enter-credentials" grid */
    .forgot-cred {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1/5; /*expands an entire row in the "enter-credentials" grid */
    margin-top: 1em;
    align-items: center;

  }

  /* inside of the grids, the label and the inputs are stylized below */
.forgot-email {
    grid-column: 1;
    text-align: center;
    color: var(--primary-color);
    font-weight: bolder;
    font-size: 1.5em;
    padding: 0.5em 1em;
  }

/* changes the input boxes */
.forgot-email-input {
    grid-column: 2/5;
  
    width: 85%;
    font-size: 1.15em;
    padding: 1em ;
  
    background-color: white;
    border: 0.25em solid var(--primary-color);
    border-radius: 2vw;
  
    color: var(--primary-color);
    font-weight: bold;
  }
  
  /* When the user clicks on the inputs for either the email or the password, the box changes color */
  .forgot-email-input:focus {
    background-color: var(--lightgray-color);
    border-color: var(--hover-color);
  }
  
  /* "Reset" button placed in the grid */
    .btn-reset {
    margin: 2em 0em 1em 0em;
    grid-column: 2/4;
  }

  /* Stylizes the "Reset" button */
.hero-forgot .container .enter-credentials button {
    background-color: var(--primary-color);
    border: 0.25em solid var(--hover-color);
    border-radius: 1vw;
    padding: 0.5em;
  
    text-align: center;
  
    height: 100%;
    width: 75%;
  
    color: white;
    font-size: 1.15em;
  }
  
  /*When the "Reset" button is hovered over, the button changes style */
  .hero-forgot .container .enter-credentials button:hover {
    background-color: var(--hover-color);
    border-color: black;
    font-weight: bolder;
    font-size: 1.2em;
    transition: all 0.15s;
  }


/* Create an account and forgot password
This is also in "login.css"
*/
.register {
    grid-column: 2/4;
    text-align: center;
    color: var(--primary-color);
    font-size: 1.15em;
    padding: .25em .75em;
  } 
  .register:hover {
    color: var(--hover-color);
  }
  

  /* Creates a box around the form */
.hero-forgot .specificformat .enter-credentials {
    -webkit-box-shadow: 0 2px 4px 0 #857d7d;
            box-shadow: 0 2px 4px 0 #857d7d;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: auto;
    height: auto;
    width: 65%;
    padding: 1em;
    text-align: center;
    border-radius: 1em;
  }
  
  /* When the user hovers over the form box, the shadow darkens */
  .hero-forgot .specificformat .enter-credentials:hover {
    -webkit-box-shadow: 0 4px 8px 0 #857d7d;
            box-shadow: 0 4px 8px 0 #857d7d;
  }


  /* This changes the display depending on the screen size (approximately 850px)*/ 
@media (max-width:55em) {

    /* inside of the grids, the label and the inputs are stylized below */
    .forgot-email {
    grid-column: 1/5;
    text-align: center;
    color: var(--primary-color);
    font-weight: bolder;
    font-size: 1.5em;
    padding: 0.5em 1em;
    }

    /* changes the input boxes */
    .forgot-email-input {
        grid-column: 1/5;
        width: auto;
        margin: 0.5em 2em;
    }

}