@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root {
  --primary-color: #283c64;
  --secondary-color: #f4e525;
  --hover-color: #1b2d42;
  --lightgray-color: #f1f1f1;
  --mediumgray-color: #d1d1d1;
}

body {
  background: white;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

/* Puts the body into a grid */
.trip-info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-gap: 1em;
    margin: 0.5em ;
    padding: 1.5em ;
    justify-content: center;
    
}

/* Stylizes name of trip and trip date */
.name-and-dates {
    grid-column: 1/3;
    margin-bottom: 2em;
    text-align: center;
}

/* Stylizes the name of the trip */
.trip-name-label {
    font-size: 3em;
    text-align: center;
    color: var(--primary-color);
    font-weight: bold;
    padding: 0.5em 1em;
  }

/* Stylizes the dates of the trip */
.trip-dates-label {
    font-size: 1.5em;
    color: var(--hover-color);
}

/*SECOND PART OF THE PAGE */
/* Puts day cards and calendar in a grid */
.trip-hero {
    grid-column: 1/3;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Splits the day cards and location into 2 separate columns (the calendar covers 2fr) */
    grid-column-gap: 2em;
}

/* The day cards take up 2/5 of the grid */
.day-card-container {
    grid-column: 1/3;
}

/* The calendar takes up 3/5 of the grid */
.calendar-container {
    grid-column: 3/6;
}

/* This changes the display depending on the screen size (approximately 850px)*/ 
@media (max-width:55em) {
    /* The day cards take up 1/3 of the grid */
    .day-card-container {
    grid-column: 1/6;
    margin-bottom: 2em;
    }

    /* The calendar takes up 2/3 of the grid */
    .calendar-container {
    grid-column: 1/6;
    }
}