@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');


:root {
  --primary-color: #283c64;
  --secondary-color: #f4e525;
  --hover-color: #1b2d42;
  --lightgray-color: #f1f1f1;
  --mediumgray-color: #d1d1d1;
}

body {
  background: white;
  margin: 0;
  font-family: 'Poppins', sans-serif;
 
  display: grid;
  grid-template-columns: 1fr;
}

/*using css grid in order to make the website look more uniform 
Location cards will be divide into three main parts: 
the top row will consist of the back button, the heart button, and the add to trip
the middle row will consist of two columns - the left column will contain the image and the right column will contain the in-depth details of the location 
the bottom row will consist of the review section with 2 columns - the left column will be the ability to post reviews and the right column will be other reviews already posted on the location
*/
/*
.information {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 2em;
  
} 
*/

/* 
*
*
ROW 1: Back Button, Heart Button, Add to Trip Button
*
*
*/

.hero {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
}

/* Creates a grid to hold the back button (1fr) , heart button (1fr), and the add to trip button (2fr) */ 
.heart-and-back-btn {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 10fr;

  justify-items: center;
  align-items: center;

  margin: 0.25em 2em;
  padding: 1em;
}

/* Puts back button in grid */
.back-button {
  grid-column: 1;
  margin: 0.25em 2em;
}

/* Puts heart button in grid */
.heart {
  grid-column: 2;
}

/* There's an issue with the background of the heart changing colors, so we are resolving by creating a white background */
.heart-button-like-location, .heart-button-like-location:hover {
  background-color: white;
  border: none;
}

/* Puts add to trip button in grid */
.add-to-trip {
  grid-column: 3;
}

/* Stylizes the "Add to My Trip!" button */
.add-to-trip-btn {
  background-color: white;
  border: 0.15em solid var(--primary-color);
  border-radius: 1vw;

  font-size: 1.05em;
  font-weight: bold;
  color: var(--primary-color);

  padding: 0.5em;
  margin: 0.25em;

  transition: all 0.2s;

}

.add-to-trip-btn:hover {
  background-color: var(--primary-color);
  border-color: var(--hover-color);
  color: white;
  transition: all 0.2s;
}

/*
*
*
ROW 2: Image, Location Name, Location Details
*
*
*/
.main-hero {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  text-align: center;
  align-items: start;

  margin: 0.5em 2em;
  
  
}

/* Image takes up 2/5 of the column */
.image-for-destination{
  grid-column: 1/3;
}

.image-destination {
  width: 80%;
  height: auto;
  margin: 0.5em;

  border: 0.25em solid var(--primary-color);
  border-radius: 2em;
}

.destination-info {
  grid-column: 3/6;

  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0.5em;

  text-align: left;
}

.destination-name {
  font-size: 1.25em;
  font-weight: bold;
  color: var(--primary-color);
}

.destination-description, .contact-and-location {
  font-size: 1.05em;
  line-height: 1.5em;
  color: var(--hover-color);
  margin: .5em 0em;
  
}

/* Stylizes the details of the destination */
.criteria-of-destination, .link-to-website {
  font-size: 1.05em;
  display: grid;
  grid-template-columns: 1fr;

  padding: 0.25em;
  margin: 0.5em 0em;
  grid-row-gap: 0.25em;

  background-color: var(--lightgray-color);
  border-radius: 2vw;
}

.link-to-website {
  padding: 0.25em 1em;
  margin-bottom: 1em;
}
.destination-descriptions {
  grid-column: 1fr;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0.5em;
  
  color: var(--hover-color);
}



/*
*
*
ROW 3: Review Section
*
*
*/
.review-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  margin: 3em 2em;
  padding: 1em;
}

/* Stylizes "Reviews" title */
.review-section-title {
  grid-column: 1/3;
  margin-top: 0.5em;
  color: var(--primary-color);
  padding: 0;
}

/* Stylizes "Overall Ratings:" */
/*
.overall-ratings {
  grid-column: 1/3;
  
  color: var(--hover-color);
  text-align: center;
  padding: 0;
  margin-bottom: 1.5em;
}
*/
/* This holds the sections where a review can be written and the average star distribution*/
.written-and-general-review {
  grid-column: 1/3;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
}

/* This holds the entire creating review section including the text displayed if the user isn't logged in */
.user-writes-review {
  grid-column: 1;

  display: grid;
  grid-template-columns: 1fr;

  margin: 1em;
  padding: 0.5em;
}

/* Stylizes the text displayed when the user isn't logged in */
.if-not-logged-in-review {
  grid-column: 1;
  text-align: center;
  font-size: 1.25em;
  color: var(--hover-color);
}

/* This holds the entire creating review section when the user is logged in */
.user-writes-review .make-a-review {
  grid-column: 1fr;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-items: center;
  justify-items: center;
}

/* Stylizes the stars */
.star-radio {
  display: none;
}
.star {
  cursor: pointer;
  transition: color 0.35s;
}

/* Stylizes the box the Review Title is written */
.title-of-review {
  grid-column: 1/2;
  text-align: left;

  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  color: var(--primary-color);

  background-color: var(--white-color);
  border: 0.15em solid var(--primary-color);
  border-radius: 2vw;

  width: 90%;
  margin: 0.5em 1em;
  padding: 0.5em 0.75em;
}

/*When the user starts to type in the "Review Tittle" section, the box changes color */
.title-of-review:hover, .title-of-review:focus {
  background-color: var(--lightgray-color);
  border-color: var(--hover-color);
}

/* Stylizes the writing area */
.writing-area  {
  padding: 0.5em;
  margin: 0.5em;
  border: 0.15em solid var(--primary-color);
  border-radius: 0.5vw;
  width: 100%;

  resize:none;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  color: var(--hover-color);
}

/* Stylizes the submit button */
.review-submit{
  background-color: var(--primary-color); 
  border: 0.2em solid var(--hover-color);
  border-radius: 2vw;

  padding: 0.5em;
  margin: 0.25em 1em;

  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.15em;
  color: white;

  display: inline-block;
  width: 75%;
}

.review-submit:hover {
  font-weight: bold;
  background-color: var(--primary-color);
  border-color: black;
  transition: all 0.15s;
}


/* 
AVERAGE STAR DISTRIBUTION 
*/
.general-review {
  grid-column: 2;

  display: grid;
  grid-template-columns: 1fr;

  align-items: start;
}

.general-review h2 {
  text-align: center;
}


/* Puts the table in a grid */
.general-review .review-distributions {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0.5em;

  margin: 0.5em;
  padding: 1em;
  width: 100%;
  justify-items: start;

  font-size: 1.5em;
  border: 0.15em solid var(--primary-color);
  border-radius: 2vw;
}

/* Changes the table */
.review-distributions-row {
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap: 0.5em;
  align-items: center;


}
.review-num {
  text-align: end;
}
.review-percent {
  text-align: start;
}

/* Changes the progress bar */
.review-distributions progress {
  width: 10em;
  height: 1.5em;
}

.review-distributions progress {
  accent-color: var(--primary-color);
}

.distributions-not-available{
  margin-top: 1em;
  margin-left:1em;
  font-style: italic;
}

th {
  padding-right: 0.5em;
}

.if-not-logged-in-review {
  font-size: 1.25em;
  font-style: italic;
}


/* LIST OF REVIEWS */
.written-reviews {
  grid-column: 1/3;
  margin-top: 2em;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 0.5em;
}

.written-reviews h2 {
  grid-column: 1/4;
  text-align: center;
  border: 0.1em solid var(--primary-color);
  border-radius: 2vw;

  padding: 0.5em;
  margin: 1em;
}

/*Reviewer cards */
.review-info {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  
}
.review-info .individual-review {
  margin: 0.5em;
  border: 0.25em solid var(--lightgray-color);
  border-radius: 2vw;
  background-color: var(--lightgray-color);
  padding: 0.5em;
  margin: 0.5em;
}

.review-info .individual-review:hover {
  border-color: var(--mediumgray-color);
  transition: all 0.2s;
}
/* CONTACT INFO */
.contact-info .container h5 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.contact-info .container ul {
  margin: 0em;
}

.contact-info .container div {
  padding: 0 5em 0 5em;
}

.contact-info .container div li {
  list-style: none;
  padding: 1em 0 1em 0;
}


/* NAVBAR */
.navbar nav .return-home:hover {
  font-weight: bold;
}
.navbar nav .myacc:hover {
  font-weight: bold;
}



/*# sourceMappingURL=location.css.map */


/* This changes the display depending on the screen size (approximately 850px)*/ 
@media (max-width:55em) {
  /* ROW 1: Back Button, Heart Button, Add to Trip Button */
  .heart-and-back-btn {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
  }

  /* ROW 2: Image, Location Name, Location Details */
  .image-for-destination{
    grid-column: 2/5;
  }
  .destination-info {
    grid-column: 1/6;
  }

  .destination-name {
    text-align: center;
  }

  /* ROW 3: Review Section */
  /* This holds the entire creating review section including the text displayed if the user isn't logged in */
  .user-writes-review {
    grid-column: 1/3;
  }

  /* 
  AVERAGE STAR DISTRIBUTION 
  */
  .general-review {
    grid-column: 1/3;
  }
}