@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root {
  --primary-color: #283c64;
  --secondary-color: #f4e525;
  --hover-color: #1b2d42;
  --lightgray-color: #f1f1f1;
  --mediumgray-color: #d1d1d1;
}

body {
  background: white;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}



/* Subnavbar features */
.subNav {
  padding-top: 6rem;
  text-align: center;
  grid-column-start: 3;
}


.savedlocations {
    font-family: "Poppins";
    font-weight: bolder;
    color: var(--primary-color);
    font-size: 3em;
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 2em;
    padding-left: .5em;

}




.hero .likedLocations{
    display: flex;
    flex-direction: column;
    width: 60%;
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}