@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');


:root {
  --primary-color: #283c64;
  --secondary-color: #f4e525;
  --hover-color: #1b2d42;
  --lightgray-color: #f1f1f1;
  --mediumgray-color: #d1d1d1;
}

body {
  background: white;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* These apply grids too ALL location cards that you see
These include the cards in the home page, saved locations page, and in the map my trip overview page
*/ 
.list-locations-for-trip, .list-locations {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
  background-color: white;
  border: 0.25em solid var(--primary-color);
  border-radius: 2vw;

  margin: 2em 0.5em;
}

/* This is specific to the saved location page location cards because these cards contain a delete button */
.list-locations {
  margin: 2em;
}
.delete-btn {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: end;

  padding: 0em 2em;
  margin: 1em;
}
.trash-can {
  grid-column: 5;
}

/* When the user hovers over the location card, the card changes color */
.list-locations-for-trip:hover, .list-locations:hover {
  background-color: var(--lightgray-color);
  border-color: var(--hover-color);
  transition: all 0.15s;
}

/* When the user hovers over the location card, the font color of the location name changes */
.list-locations-for-trip:hover .list-name, .list-locations:hover .list-location-name {
  color: var(--hover-color);
}

.list-locations-item, .list-locations-trip-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  padding: 1em 0.5em;

  align-items: center; /* centers vertically */
  justify-items: center; /* centers horizontally */
}

/* Stylizes the image and aligns the image - the image takes up 2/5 of the card */
.activity-img-for-trip, .activity-img{
  grid-column: 1/3;
  width: 80%;
  height: auto;


  border: 0.15em solid var(--primary-color);
  border-radius: 1.5vw;
}


/* 
*
*
THIS ONLY APPLIES TO THE CARD IN THE MAP MY TRIP 
*
*
*/
/* Location card details */
.middle-item-details-trip {
  grid-column: 3/6;
  margin: 1em;

  /* This creates a grid with 1 column so all of the details of the location which is nested within this class will automatically flow to new rows */
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0.5em;
}

/* Location card name of the location */
.list-name {
  font-size: 1.25em;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 1em;
}



/* 
*
*
THIS ONLY APPLIES TO THE CARDS IN THE HOME PAGE AND IN THE SAVED LOCATIONS PAGE
*
*
*/
/* Location card details */
.middle-item-details {
  grid-column: 3/6;
  margin: 1em;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.25em;
}

/* Stylizes name of location */
.list-location-name {
 padding: 0.5em 0em;

 font-weight: bold; 
 font-size: 2.25em;
 color: var(--primary-color);
}

/* The following stylizes the information of location */
.list-location-phone, .list-location-location, .list-location-categories{
  font-weight: lighter;
  font-size: 1.25em;
  color: var(--hover-color);
}

.list-location-categories {
  font-style: italic;
}

.list-locations a {
  text-decoration: none;
}

.no-results {
  color: black;
  font-size: 3em;
  font-family: 'Poppins', sans-serif;
  
}

.no-results-container{
  margin:2em 0 0 1em;
  text-align: center;

}
.no-results-image {
  max-width: 10%;
  max-height: auto;
}
/*# sourceMappingURL=LocationCard.css.map */


/* This changes the display depending on the screen size (approximately 850px)*/ 
@media (max-width:55em) {
  .activity-img-for-trip, .activity-img{
    grid-column: 1/6;
  }

  /* Location card details */
  .middle-item-details {
  grid-column: 1/6;
  margin: 1em;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.25em;
  }

}