@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root {
  --primary-color: #283c64;
  --secondary-color: #f4e525;
  --hover-color: #1b2d42;
  --lightgray-color: #f1f1f1;
  --mediumgray-color: #d1d1d1;
}

body {
  background: white;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  padding: .5em 1em .75em 1.5em;
  background-color: white;
  overflow: hidden;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 .5em 0 var(--mediumgray-color);
}

.navbar .logo {
  text-decoration: none;
  padding-top: .4em;
  color: black;
  font-weight: bold;
  font-size: 1.5em;
}

.navbar .container .top-right nav .if-logged-in-navbar a.logout {
  color: white;
  padding: .5em .75em;
  margin-right: 1em;
  background-color: var(--primary-color);
}
  
.navbar .container .top-right nav .if-logged-in-navbar a.logout:hover {
  font-weight: bold;
  background-color: var(--hover-color);
}

.navbar .container .top-right .if-logged-in-navbar a.logout:hover {
  font-weight: bold;
  background-color: var(--hover-color);
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar nav a {
  text-decoration: none;
  color: black;
}

.navbar nav a.register {
  background-color: var(--primary-color);
  color: white;
  padding: .5em .75em;
  border-radius: 2em;
}

.navbar nav a.register:hover {
  font-weight: bold;
  background-color: var(--hover-color);
}

.navbar nav .top-left {
  padding: 1em 0 0 3em;
  font-size: 1em;
}

.navbar nav .container .logo .top-left .return-home:hover {
  font-weight: bold;
}

.navbar nav .container .logo .top-left-faq .faq:hover {
  font-weight: bold;
}

.navbar nav .top-right {
  margin-left: auto;
  padding-top: 1em;
  padding-right: 2em;
}

nav.top-left nav.myacc {
    padding-left: 5em;
    font-size: 1.5em;
  }

.savedlocations {
    font-family: "Poppins";
    font-weight: bolder;
    color: var(--primary-color);
    font-size: 3em;
    text-align: center;
    padding-bottom: 0.5em;
}

.hero .likedLocations{
    display: flex;
    flex-direction: column;
    width: 60%;
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}