.navbar {
    padding: .5em 1em .75em 1.5em;
    background-color: white;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 3em;
    box-shadow: 0 0 .75em 0 var(--mediumgray-color);
    z-index: 1000;
  }
  
  /*Logo*/
  .navbar {
    background-size: 50px;
    background-image: url('../Images/ViewRadoLogo.png');
    background-repeat: no-repeat;
    background-origin: content-box;
  } 
  
  .navbar .logo {
    text-decoration: none;
    padding-top: .4em;
    margin-left: 3em;
    color: black;
    font-weight: bold;
    font-size: 2em;
  }
  
  .navbar .logo span {
    color: var(--primary-color);
  }
  
  
  .if-logged-in-navbar label{
    font-size: 1.5em;
    padding-top: .3em;
    padding-right: 1em;
  }
  
  nav.top-left nav.myacc {
    font-size: 1.5em;
  }
  
  .if-logged-in-navbar button{
    background-color: var(--primary-color);
      border-radius:20px;
      border:1px solid var(--primary-color);
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:1em;
      padding:.5em .75em;
      text-decoration:none;
  }

  .if-not-logged-in-navbar a{
    background-color: var(--primary-color);
    border-radius:20px;
    border:1px solid var(--primary-color);
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:1em;
    padding:.5em .75em;
    margin-right:1em;
    text-decoration:none;
  }
  
  
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }
  
  .navbar nav a.myacc a.return-home a.faq {
    text-decoration: none;
    color: black;
  }
  

  
  a.login:hover {
   font-weight: bold;
   background-color: var(--hover-color);
  }

  a.register-nav:hover{
    font-weight: bold;
    background-color: var(--hover-color);
  }
  
  .navbar nav .top-left {
    padding: .5em 0 0 2em;
    
  }
  .top-left a {
    text-decoration: none;
    color: black;
    padding: .5em 0 0 2em;
      font-size: 1.25em;
  }
  
  .faq:hover {
    font-weight: bold;
  }
  
  .return-home:hover {
    font-weight: bold;
  }
  
  .myAcc {
    padding: .5em 0 0 2em;
    font-size: 1.25em;
  }
  
  .myAcc:hover{
    font-weight: bold;
  }
  
  .navbar nav .top-right {
    margin-left: auto;
    /*padding-top: 1em;*/
    padding-right: 2em;
  }